body {background-color: rosybrown;}
        h1   {color: blue;}
        p    {color: yellow;}

.centerDiv{
 text-align: center;   
}        
.div1 {
  color: brown;
}        
.div2 {
   color:aquamarine;
}        
.div3 {
 color:cyan;
}        
.div4 {
  color:darkslategray;
 display: flex;
 }        